aiohttp==3.7.4.post0
aniso8601==9.0.1
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cryptography==3.4.7
Flask==2.3.2
Flask-HTTPAuth==4.4.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
honcho==1.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
jwt==1.2.0
MarkupSafe==2.0.1
multidict==5.1.0
pycparser==2.20
python-dotenv==0.18.0
pytz==2021.1
redis==3.5.3
six==1.16.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
yarl==1.6.3
